body {
	background-color: #000;
	margin: 0;
   
	background-repeat: no-repeat;
}

.btn{
    position: absolute;
    bottom: 48%;
    left: 42%;
  
    background-color: pink;
    padding: 2%;
    border-radius: 50%;
    text-decoration: none;
    text-decoration-color: #000;
}

